[submodule "themes/cactus"]
	path = themes/cactus
	url = git@github.com:T-Oner/hexo-theme-cactus.git
[submodule "themes/anzhiyu"]
	path = themes/anzhiyu
	url = git@github.com:dukkha-f/hexo-theme-anzhiyu.git
