[submodule "themes/cactus"]
	path = themes/cactus
	url = git@github.com:anatta-feng/hexo-theme-cactus.git
[submodule "themes/anzhiyu"]
	path = themes/anzhiyu
	url = git@github.com:anatta-feng/hexo-theme-anzhiyu.git
